body {
  background: linear-gradient(#cbe4f4, #f4d2c6, #93acc9, #f0c9c9, #bbd1df );
}

code {
  font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
    monospace;
  background: #dbe9f1;
  padding: 2px;
}

strong {
  color: #0a3f5e;
}

a:hover {
  color: #6b4c41;
}