.profile-pic {
  height: 250px;
  width: 250px;
}

body {
  background: linear-gradient(#ccafac 20%, #bebbcc, #9ba6c9, #8d95b8, #ccafac );
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

/* footer {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: 1%;
} */

#project-card {
  width: 100%;
}

#nav {
  float: right;
  width: 100%;
  align-content: flex-end;
}

/* 
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  font-weight: 500;
  font-variant: all-small-caps;
}

.content {
  display: flex;
}



a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: inherit;
  border-bottom: dotted 1px;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #ffe4b4;
}
*/